# Logs
logs
*.log
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Api directories and files
video/
temp/
Migrations/
images/

# Editor directories and files
.vs/
bin/
obj/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*


*.sw?

# Security
appsettings.json

/OmegaStreamWebAPI/omega_stream.sqlite-shm
/OmegaStreamWebAPI/omega_stream.sqlite-wal