# Logs
logs
*.log
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Api directories and files
video/
temp/
Migrations/

# Editor directories and files
.vs/
bin/
obj/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*


*.sw?
